
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&family=Varela+Round&display=swap');
body{
    min-height:100vh;
    font-family: 'Roboto Slab', serif;
    font-family: 'Varela Round', sans-serif;
    box-sizing:border-box;
    margin:0;
    width:100%;
    overflow: hidden;
}
input:focus,
textarea:focus,
select:focus{
    outline:none;
}